<div class="container">
    <br>
    <a routerLink="/servicios/create" class="btn">Registrar servicio</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin x</th>
            <th>Placa Vehiculo y</th>
            <th>Nombre Conductor</th>
            <th>Dinero Recogido</th>
            <th>Ruta</th>
            <th>Acciones</th>
           
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.fecha}}</td>
          <td>{{p.hora_inicio}}</td>
          <td>{{p.hora_fin}}</td>
          <td>{{p.placa_vehiculo}}</td>
          <td>{{p.nombre_conductor}}</td>
          <td>{{p.dinero_recogido}}</td>
          <td>{{p.ruta}}</td>
          <td>
            <a routerLink="/servicios/edit/{{p.id}}" class="btn">Editar</a>
          </td>
          <td>
            <button class="btn red" (click)="delete(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  